<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Bank demo project">
  <meta name="author" content="JavaGuru">
  <title>AutoDealer</title>
</head>

<body>

<h3>Add Item</h3>

<table>
  <tr>
    <td>Name:</td>
    <td>Model:</td>
    <td>Brand:</td>
    <td>Price:</td>
  </tr>

  <tr>
    <form action="/addItem" th:object="${request}" method="post">
      <td><input type="text" th:field="${request.name}"/></td>
      <td><input type="text" th:field="${request.model}"/></td>
      <td><input type="text" th:field="${request.brand}"/></td>
      <td><input type="text" th:field="${request.price}"/></td>
      <td>
        <input type="submit" value="Add Item"/>
        <input type="reset" value="Clear"/>
      </td>
    </form>
  </tr>
</table>

<form action="/adminMenu" method="get">
  <input type="submit" value="Go to main page" name="Submit" />
</form>

<td th:if="${errors != null}">
  <tr th:each="error : ${errors}">
    <td th:text="${error.field}" />
    <td th:text="${error.message}" />
  </tr>
</td>

</body>

</html>